.btn-red {
  color: white;
  background-color: #e50914;
  border: none !important;
}

.btn-link {
  border: none !important;
  background: none !important;
  border-bottom: 1px solid white;
  font-size: 17px;
  color: white !important;

  &:hover {
    color: #40a9ff !important;
  }
}

.btn-inselect {
  background: none;
  padding: 8px;
  cursor: pointer;
  z-index: 3; 
  border: none;
  color: rgb(173, 173, 173);

  &:hover {
    background: none;
    color: #e04343;
  }
}