.ant-carousel {
  height: 600px;

  .slick-slide {
    position: relative;
  }

  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%; 
        position: relative;

        .carousel-image {
          width: 100%;
          z-index: -1;
          position: absolute;
          opacity: 0.3;
        }
        .carousel-caption {
          top: 25%;
          left: 16%;

          h1 {
            font-size: 42px;
          }
          p {
            max-width: 50%;
          }
          .ant-btn {
            background: #e50914;
            color: white;
          }
        }
      }
    }
  }
}