.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $backgroundcolor !important;
}

.search {
  width: 200px !important;
  height: 42px;
  margin-left: auto !important;
}